[Unit]
Description=Streamlit Amandemen Forecast Monitoring

[Service]
Type=simple
WorkingDirectory=/sites/monitoring-presentwx
ExecStart=/bin/bash /sites/monitoring-presentwx/run.systemd.sh

[Install]
WantedBy=multi-user.target

